<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div clss="field">
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :credit_card_number, style: "display: block" %>
    <%= form.text_field :credit_card_number %>
  </div>

  <div class="field">
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div  style="display: none">
    <%= form.label :is_admin, style: "display: block" %>
    <%= form.check_box :is_admin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
