<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.Name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.Author %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.Publisher %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.Price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= book.Stock %>
  </p>

</div>
