<p style="color: green"><%= notice %></p>

<h1>All Books</h1>
<%= form_tag(filter_books_path, method: :get) do %>
  <%= label_tag(:author, "Author:") %>
  <%= text_field_tag(:author) %>

  <%= label_tag(:rating, "Rating:") %>
  <%= select_tag(:rating, options_for_select([1, 2, 3, 4, 5])) %>

  <%= submit_tag("Filter") %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Average Rating</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.Name %></td>
      <td><%= book.Author %></td>
      <td><%= book.Publisher %></td>
      <td><%= book.Price %></td>
      <td><%= book.Stock %></td>
      <td><%= sprintf("%.2f", book.reviews.average(:rating).to_f) %></td>
      <td>
        <%= link_to "Show this book", book %>
        <% if book.Stock > 0 %>
          <%= link_to "Purchase", new_transaction_path(book_id: book.id), class: "btn btn-sm btn-success" %>
        <% end %>
        <% if current_user %>
          <%= link_to "Write Review", new_review_path(book_id: book.id), class: "btn btn-sm btn-info" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Book", new_book_path, class: "btn btn-sm btn-primary" %>
<%= link_to "High rating books", high_rating_path, class: "btn btn-sm btn-warning" %>