<p style="color: green"><%= notice %></p>

<h1>All Books</h1>
<%= form_tag(filter_books_path, method: :get) do %>
  <%= label_tag(:author, "Author:") %>
  <%= text_field_tag(:author) %>

  <%= label_tag(:rating, "Rating:") %>
  <%= select_tag(:rating, options_for_select([1, 2, 3, 4, 5])) %>

  <%= submit_tag("Filter") %>
<% end %>
<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
      <% if current_user %>
        <%= link_to "Write a Review", new_review_path(book_id: book.id) %>
      <% end %>
      <td><%= link_to_if book.Stock > 0 && current_user.is_admin?, 'Purchase this book', new_transaction_path(:book_id => book.id)%></td>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
