<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Back to books", books_path %>
</div>

<div>
  <h2>Reviews</h2>
  <table cellspacing=20 >
    <thead>
      <tr>
        <th>User Name</th>
        <th>Rating</th>
        <th>Review </th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @book.reviews.each do |review| %>
        <tr>
          <th><%= review.user.name %></th>
          <th><%= review.Rating %></th>
          <th><%= review.Review %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "View all reviews", reviews_path %>
</div>
