<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>

<div>
  <h2>Reviews</h2>
  <% @book.reviews.each do |review| %>
    <p>
      <strong>Rating:</strong>
      <%= review.Rating %>
    </p>
    <p>
      <strong>Review:</strong>
      <%= review.Review %>
    </p>
    <hr>
  <% end %>
  <%= link_to "View all reviews", book_path(@book) %>
</div>