<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>You are purchasing the book: <b><%= @book.Name %></b></p>
  <div>
  <%= form.hidden_field :book_id, value: @book.id %>
  </div>

  <div>
  <% qty = @book.Stock %>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity, :id => 'quantity', min: 1, max: qty, onchange: "calculateTotalPrice();"%>
  </div>

  <div>
    <%= form.label :total_price, style: "display: block" %>
    <%= form.text_field :total_price, :id => 'total_price', :readonly => true %>
  </div>
  <div>
  <div class="field">
    <%= form.label :credit_card_number, "Credit card number" %>
    <%= form.text_field :credit_card_number, value:current_user.credit_card_number %>
  </div>
    <div class="field">
    <%= form.label :address, "Address" %>
    <%= form.text_field :address, value:current_user.address %>
  </div>
    <div class="field">
    <%= form.label :phone_number, "Phone Number" %>
    <%= form.text_field :phone_number, value:current_user.phone_number %>
  </div>
  <div>
    <%= form.submit %>
  </div>

<% end %>

 <script type="text/javascript">
   function calculateTotalPrice() {
       var price = "<%= @book.Price %>";
       document.getElementById('total_price').value = document.getElementById('quantity').value * price;
   }
</script>
