<p style="color: green"><%= notice %></p>

<table cellspacing=20 >
  <thead>
    <tr>
      <th>Transaction #</th>
      <th>Book ID</th>
      <th>Book Name</th>
      <th>User Name </th>
      <th>Credit card number </th>
      <th>Address </th>
      <th>Phone number </th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th colspan="5"></th>
    </tr>
  </thead>

    <% @transactions.each do |transaction|%>
    <tbody>
        <tr>
        <td><%= transaction.transaction_number %></td>
        <td><%= transaction.book_id %></td>
        <td><%= transaction.book.Name %></td>
        <td><%= transaction.user.username %></td>
        <td><%= transaction.credit_card_number %></td>
        <td><%= transaction.address %></td>
        <td><%= transaction.phone_number %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.total_price %></td>
        </tr>
    </tbody>
    <%end%>
</table>
<div>
</div>

