<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>


  <%= form_tag(filter_reviews_path, method: :get) do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>

    <%= label_tag(:book_name, "Book Name:") %>
    <%= text_field_tag(:book_name) %>
    <%= submit_tag("Filter") %>
  <% end %>


<div id="reviews">
  <% @reviews.each do |review| %>
    <div class="review">
      <p><%= review.user.name %> on <%= review.book.Name %>:</p>
      <%= render review %>
      <p>
        <%= link_to "Show this review", review %>
      </p>
    </div>
  <% end %>
</div>

<!--%= link_to "New review", new_review_path %-->
