<p style="color: green"><%= notice %></p>


<table cellspacing=20 >
  <thead>
    <tr>
      <th>Book Name</th>
      <th>User Name</th>
      <th>Rating</th>
      <th>Review </th>
      <th colspan="5"></th>
    </tr>
  </thead>

    <tbody>
        <tr>
        <td><%= @review.book.Name %></td>
        <td><%= @review.user.username %></td>
        <td><%= @review.Rating %></td>
        <td><%= @review.Review %></td>
        </tr>
    </tbody>
</table>

<div>
  <%= link_to "Back to reviews", reviews_path %>
</div>

