<!DOCTYPE html>
<html>
  <head>
    <title>BookShop</title>
    <head>
      <title>Online Cookbook</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
  </head>

  <body>
    <%= yield %>
  </body>
  <tail>
    <%= link_to "Back to homepage", root_path %>
  </tail>
</html>
